################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/ListenSite/ListenSite/bin
/src/ListenSite/ListenSite/obj/Debug
/src/ListenSite/packages
